body{
	background-color: white;
}

#room{
	border: 1px solid green;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.jumbotron.Aligner{
	margin-bottom: 0;
}


.Aligner{
	min-height: 60%;
	min-height: 60vh;
	
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -moz-box;

	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items:center;

	width: 100%;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content:center;
	justify-content:center;
}

.Aligner-item{
	
	max-width: 50%;
}

.footer{
	text-align: center;
	font-size:0.8em;
	padding-top: 6em;
}
